* {
    font-family:'Courier New', monospace;
    color:white;
}
#content{
    background-color:palegreen;
    height:100vh;

}
h1 {
    padding-left: 10%;
    padding-right:10%;
}
.navbar {
    background-color: green;
    color: white;
    width:100wv;
    height: 70px;
    display:flex;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    padding:10px;
}
.links{
    margin-left:auto;
    color:white;
}
