* {
    font-family:'Courier New', monospace;
}
#content{
    background-color:palegreen;
    height:100vh;

}
.navbar {
    color: black;
    width:100wv;
    height: 70px;
    display:flex;
    align-items: center;

    padding-left: 10%;
    padding-right:10%;
}
.navbar a{
    text-decoration: none;
    padding:10px;
}
.links{
    margin-left:auto;
}
.page{
    padding-right:10%;
    padding-left: 10%;
}
