* {
    font-family:'Courier New', monospace;
}
#content{
    background-color:palegreen;
    height:100vh;

}
.navbar {
    color: black;
    width:100wv;
    height: 70px;
    display:flex;
    align-items: center;

    padding-left: 10%;
    padding-right:10%;
}
.navbar a{
    text-decoration: none;
    padding:10px;
}
.links{
    margin-left:auto;
}
.page{
    padding-right:10%;
    padding-left: 10%;
}
#gallery-container{
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
}
.gallery_img{
    padding:12px;
    width:22%

}
@media only screen and (max-width: 880px) {
  .gallery_img {
    width: 90%;
  }
}
.yearButton {
    font-size: 15px;
}
.yearButton.selected {
    background-color:palegreen;
}
